{% extends 'base.html.twig' %}

{% block title %}Vat Calculator Test{% endblock %}

{% block body %}
    <main>
        <div class="container mx-auto w-9/12 mt-10 border border-slate-200 rounded-md p-4 bg-slate-100 shadow-sm">
            <h1 class="text-center text-slate-600 text-3xl font-bold mb-4">Vat Calculator</h1>

            <h2 class="text-base font-semibold leading-7 text-gray-900">
                This web app calculates vat for any given value at a rate provided in separate input.
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600 mb-4">
                Two calculations are triggered when value and rate are submitted.<br>
                First calculation assumes the value provided is a net value, and it calculates gross based on rate provided.<br>
                Second calculation runs assumption that value is gross, and it calculates net value based on a rate provided.<br>
                Results are displayed in a history table below.
            </p>

            {{ form(form) }}

{#            <form action="/calc" method="post">#}
{#                <h2 class="text-base font-semibold leading-7 text-gray-900">#}
{#                    This web app calculates vat for any given value at a rate provided in separate input.#}
{#                </h2>#}
{#                <p class="mt-1 text-sm leading-6 text-gray-600">#}
{#                    Two calculations are triggered when value and rate are submitted.<br>#}
{#                    First calculation assumes the value provided is a net value, and it calculates gross based on rate provided.<br>#}
{#                    Second calculation runs assumption that value is gross, and it calculates net value based on a rate provided.<br>#}
{#                    Results are displayed in a history table below.#}
{#                </p>#}


{#                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">#}
{#                    <div class="sm:col-span-3">#}
{#                        <label for="value" class="block text-sm font-medium leading-6 text-gray-900">Value</label>#}
{#                        <div class="mt-2">#}
{#                            <input type="number" step=".01" name="value" id="value" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="sm:col-span-3">#}
{#                        <label for="rate" class="block text-sm font-medium leading-6 text-gray-900">Rate</label>#}
{#                        <div class="mt-2">#}
{#                            <input type="number" name="rate" id="rate" step=".01" min="0" max="100" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="mt-6 flex items-center justify-end gap-x-6">#}
{#                    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Run Calculation</button>#}
{#                </div>#}
{#            </form>#}

            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-5 mt-5 shadow-sm rounded ">
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                    <div class="flex flex-wrap items-center">
                        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-blueGray-700">Calculation History</h3>
                        </div>
                        <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                            <a class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" href="{{ path('export') }}">Export</a>
                            <a class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" href="{{ path('clear') }}">Clear</a>
                        </div>
                    </div>
                </div>

                <div class="block w-full overflow-x-auto">
                    <table class="items-center bg-transparent w-full border-collapse ">
                        <thead>
                        <tr>
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Value
                            </th>
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Rate
                            </th>
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Net Value
                            </th>
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Gross Value
                            </th>
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Type
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for entry in history %}
                        <tr>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                {{ entry.value }} %
                            </td>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                {{ entry.rate }} %
                            </td>
                            <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ entry.netValue }}
                            </td>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ entry.grossValue }}
                            </td>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ entry.direction }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
